*.csv
*.egg*
*.log
*.prof
*.zip
*.orig
*.bak
.coverage
.tox
.vscode
__pycache__
compact.egg.info
content-revision
build
data
!/swh/provenance/tests/data
/swh/provenance/tests/data/*
!/swh/provenance/tests/data/*.yaml
!/swh/provenance/tests/data/*.py
!/swh/provenance/tests/data/*.msgpack
debian
dumps
PKG-INFO
revision-origin
/misc/
