pytest < 7.0.0  # v7.0.0 removed _pytest.tmpdir.TempdirFactory, which is used by some of the pytest plugins we use
pytest-mongodb
pytest-rabbitmq
swh.loader.git >= 0.8
swh.journal >= 0.8
swh.storage >= 0.40
